
<div class="bg-white rounded-lg shadow-md p-4 m-4">
    <h2 class="text-2xl font-semibold mb-2">¡Reserva Confirmada!</h2>
    <p class="text-gray-600 mb-4">Tu reserva en <span class="font-semibold">{{restaurantName}}</span> ha sido confirmada.</p>
    
    <div class="mb-4">
        <p class="text-sm text-gray-500">Detalles de la Reserva:</p>
        <ul class="list-disc pl-6">
            <li>Tu reserva está programada para: <span class="font-semibold">{{reservationTime}}</span></li>
            <li>La dirección del restaurante es: <span class="font-semibold">{{restaurantAddress}}</span></li>
        </ul>
    </div>

    <p class="text-green-500 font-semibold">¡Has ganado 300 puntos por reservar con Travelifico!</p>
    
    <div class="mt-4">
        <a href="/checkPoints" class="text-blue-500 hover:underline">Verifica tus puntos acumulados</a>
    </div>
</div>