<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TRAVELIFICO</title>
    <link rel="stylesheet" href="/public/css/main-build.css">
</head>

<body class="bg-gray-100">
    <div class="flex flex-col h-screen">
        <header class="bg-blue-500 text-white py-2">
            <div class="container mx-auto">
                <div class="flex justify-between items-center px-4">
                    <h1 class="text-3xl"> &#127881; Potluck Party! &#127881;</h1>
                </div>
            </div>
        </header>
        <main class="container mx-auto mt-5">
            {{{ body }}}
        </main>
    </div>
</body>

</html>
