<!-- register.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>
<body>
    <div class="form-wrapper">
        <div class="form-side">
            <a href="#" title="Logo">
                <img src="" class='logo' alt="Ofin">
            </a>
            <form class="my-form" id="registration-form" action="/register" method="POST">
                <div class="form-welcome-row">
                    <h1>Create your account &#x1F44F;</h1>
                </div>
                <div class="text-field">
                    <label for="email">Email:
                        <input
                            type="email"
                            id="email"
                            name="email"
                            autocomplete="off"
                            placeholder="Your Email"
                            required
                        >
                    </label>
                </div>
                <div class="text-field">
                    <label for="password">Password:
                        <input
                            id="password"
                            type="password"
                            name="password"
                            placeholder="Your Password"
                            title="Minimum 8 characters, 1 uppercase, 1 special character"
                            pattern="^(?=.*[A-Z])(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}$"
                            required
                        >
                    </label>
                </div>
                <button type="submit" class="my-form__button">
                    Create Account
                </button>
                <div class="my-form__actions">
                    <a href="#" title="Reset Password">
                        Reset Password
                    </a>
                    <a href="#" title="Login">
                        Already have an account? Login
                    </a>
                </div>
            </form>
        </div>
        <div class="info-side">
            <img src="../public/assets/mock.png" alt="Mock" class="mockup">
        </div>
    </div>
</body>
</html>
