
    <div class="form-wrapper">
        <div class="form-side">
            <a href="#" title="Logo">
                <img src="" class='logo' alt="Ofin">
            </a>
            <form class="my-form" id="reset-password-form" action="/reset-password" method="POST">
                <div class="form-welcome-row">
                    <h1>Reset Your Password &#x1F44F;</h1>
                </div>
                <div class="text-field">
                    <label for="email">Email:
                        <input
                            type="email"
                            id="email"
                            name="email"
                            autocomplete="off"
                            placeholder="Your Email"
                            required>
                    </label>
                </div>
                <button type="submit" class="my-form__button">
                    Reset Password
                </button>
                <div class="my-form__actions">
                    <a href="reset-password.js" title="Back to Login">
                        Back to Login
                    </a>
                </div>
            </form>
        </div>
        <div class="info-side">
            <img src="../public/assets/mock.png" alt="Mock" class="mockup">
        </div>
    </div>
    <script src="../reset-password.js"></script>
