<!-- validation.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone Number Verification</title>
    <link rel="stylesheet" href="styles.css"> <!-- Include your CSS file if needed -->
</head>
<body>
    <div class="form-wrapper">
        <div class="form-side">
            <a href="#" title="Logo">
                <img src="" class='logo' alt="Ofin">
            </a>
            <form class="my-form" id="verification-form" action="/verify" method="POST">
                <div class="form-welcome-row">
                    <h1>Verify Your Phone Number &#x1F4F5;</h1>
                </div>
                <div class="text-field">
                    <label for="verificationCode">Verification Code:
                        <input
                            type="text"
                            id="verificationCode"
                            name="verificationCode"
                            autocomplete="off"
                            placeholder="Enter Verification Code"
                            required>
                    </label>
                </div>
                <button type="submit" class="my-form__button">
                    Verify
                </button>
            </form>
        </div>
        <div class="info-side">
            <img src="../public/assets/mock.png" alt="Mock" class="mockup">
        </div>
    </div>
    <script src="../script.js"></script> <!-- Include your JavaScript file if needed -->
</body>
</html>
